* {
    padding:0;
    margin:0;     
  }
  
html{
  width: 100%;
  height: 100%;
  background-color: #D8DFEE;
  
}

.header{
    background: #ABA8A9;
    height:8vh;
    align-items: center;
    justify-content:left;
    color: #CBF83E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  

.button{
    color: black;
    background-color: #CBF83E;
    cursor: pointer;
    border-radius: 5px;
    border:none;
    padding: 5px;
    font-size: 20px;
    margin-top: 20px;
    text-decoration: none;
    margin: 20px;
    
}
.button.voltar{
    background-color: #ABA8A9 ;
           
}
.novocadastro{
    text-align: center;
    
}
.novocadastro h2{
    margin-bottom: 20px;
}


.novocadastro form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
     
}
.novocadastro form label{
    font-size: 20px;
    margin-top: 15px;
}

footer{
    display: flex;
    position: absolute;
    bottom: 3px;
    background: #aba8a9;
    width: 100%;
    justify-content: center;
  
}